@import url("components/header.css");
@import url("components/sidebar.css");
@import url("components/banner.css");
@import url("components/cards.css");

/* Type Selectors -------------------- */

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

h1 {

}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1.2em; /* 53px/16px  */
  font-weight: 600;
  line-height: 1.1;
  margin: .7em 0 .5em; /* 0 0 26px */
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2em; /* 53px/16px  */
  font-weight: 400;
  line-height: 1.1;
  margin: .1em 0 .9em;
}

h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #333;
  font-size: 1.3em; /* 53px/16px  */
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 0 3px 4px rgba(0,0,0, .3);
  margin-left: 2.5em;
  margin-right: 2.5em;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: center;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.7;
  text-shadow: 0 2px 3px rgba(0,0,0, .2);
}

/*strong {
  color: #222;
  font-weight: bold;
}*/

/* Pseudo-classes ------------------ */

a:link {
  text-decoration: none;
}

a:visited {
  display: none;/*mirar como quitar el marca de visited*/
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: rgb(255, 169, 73);
}


/* -------------------------------
       Redes Container
-------------------------------- */

.redes-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 70px; /*baja el botón de menu*/
  right: 0;
  padding-top: 0;
  margin-right: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: flex-end;
}

.redes-container ul li {
display: block;
margin: 0 2px;
width: 40px;
height: 40px;
text-align: center; /*para alinear el elemento "a"*/
}

.redes-container ul li a {
  display: block;
  padding: 0 3px;
  color: #777;
  line-height: 35px;/*pq l height es 50px. de esta manera el icono queda centrado*/
  font-size: 15px;/*tamaño de los logos*/
  border-radius: 3px;
  transition: .2s;
  text-shadow: 0 5px 5px rgba(0,0,0, .2);
}

.redes-container ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  /*background-color: rgba(200, 250, 0, 1);*/
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .4);
}

 /*--------------------------
           Layouts
 --------------------------- */

.about {
  /*position: relative;*/
  margin: 2em 2.5em;
}

.about p {
  font-size: 19px;
  margin-top: 110px;
}

.line-about {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-top: #333 solid 1px;
}

.release-name h2 {
  color: #333;
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
  text-shadow: 0 3px 4px rgba(0,0,0, .1);
}

/*--------------------------
      Footer Section
----------------------------*/

.footer {
 color: #fff;
 background-color: #333;
 padding-top: 30px;
 padding-bottom: 30px;
 }

.footer p {
   text-align: center;
   color: #fff;
   padding-bottom: 30px;
   padding-top: 0px
   }

 .footer a {
   color: yellow;
   padding-left: 25px;
 }

/* ----------------------------
       Media Queries
 ---------------------------- */
@media (min-width: 360px) {
  .about p {
    font-size: 22px;
  }

}

@media (min-width: 375px) {
  .about p {
    font-size: 26px;
    margin-top: 210px;
  }

}

@media (min-width: 735px) {

.about {
   width: 85%;
   margin-left: auto;
   margin-right: auto;
 }

}

@media (min-width: 768px) {

  .about p {
    margin-top: 400px;
  }

}

@media (min-width: 1024px) {

  .about {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .about p {
    color: #333;
    text-align: center;
    line-height: 2;
    margin-top: 230px;
    margin-bottom: .5em;
    font-size: 1.7em;
    font-weight: 200;
  }

  .banner {
    width: 100%;
  }

  .overlay-slide h1 {
    bottom: 48%;
  }

  .overlay-slide h3 {
    bottom: 14%;
  }


   .release-name h2 {
     font-size: 3.5em;
   }

   .release-name h3 {
     font-size: 3em;
   }

  .overlay p {
    top: 74%;
  }
}

@media (min-width: 1025px) {

  .about p {
    margin-top: 80px;
  }
}
