* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

h1 {
  color: #333;
  margin-top: 10px;
  text-align: left;
  padding-left: 150px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  font-weight: 300;
  line-height: 1.3;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  width: 84%;
  text-align: justify;
  margin-left: 150px;
  padding-right: 70px;
  margin-bottom: 30px;
}

.redes-container {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  margin-right: 80px;
  justify-content: flex-end;
  -moz-justify-content: flex-end;
  -o-justify-content: flex-end;
}

.redes-container.footer {
  padding-top: 0;
}

.redes-container ul li {
display: inline-block;
margin: 0 2px;
width: 30px;
height: 60px;
text-align: center; /*para alinear el elemento "a"*/
}

.redes-container ul li a {
  display: block;
  padding: 0 3px;
  background: #333;
  color: #fff;
  line-height: 35px;/*pq l height es 50px. de esta manera el icono queda centrado*/
  font-size: 16px;/*tamaño de los logos*/
  border-radius: 3px;
  transition: .2s;
}

.redes-container ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
}

.background-subpages img {
  padding-left: 150px;
  width: 90%;
  height: auto;
  margin-bottom: 100px;
}

.artists-container {
  display: flex;
  width: 96%;
  padding-left: 145px;
  justify-content: space-around;/*espacio alrededor*/
  flex-wrap: wrap;
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
  }

.artists-images {
  position: relative;
  width: 30%;
  height: 30%;
  margin-bottom: 15px;
}

.artists-images img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*si la imagen no esta proporcionada, ayuda a q no se vea mal*/
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(50, 50, 50, .7);
  width: 100%;
  height: 0;
  overflow: hidden; /*para esconder el texto antes de desplegar*/
  /*transition: .5s ease;*/
}

.overlay a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  color: yellow;
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 17%;
  }

  .overlay .iwm {
    font-size: 22px;
    left: 10%;
  }

  .overlay .iaxes {
    left: 30%;
  }

  .overlay .tim {
    left: 20%;
  }

  .overlay .you {
    font-size: 22px;
    left: 40%;
  }

.overlay a:hover {
  color: cyan;
}

.artists-images:hover .overlay {
  height: 100%;
  cursor: pointer;
}

/*---------- Sidebar-----*/

.btn {/*parametros boton menu*/
  position: fixed;
  top: 50px; /*baja el botón de menu*/
  left: 25px; /*lo cerca que está del margén left*/
  height: 33px;/*altura del controno del botón*/
  padding: 4px 5px 0 5px;*//*parametro de contorno del boton*/
  cursor: pointer;
  transition: left 0.4s ease;
  z-index: 2;
}

.btn.click {/*desplazamiento del bottom de sidebar*/
  left: 260px;
}

.btn span {/*parametros del boton barras del menú*/
  color: #333;
  font-size: 24px;
}

.btn.click span:before; {/*desplegar menu*/
  content: '\f00d';
}

.sidebar {
  position: fixed;
  top: 0px;/*para bajar el contenedor menu*/
  padding-top: 100px;
  width: 300px;
  height: 100%;
  left: -450px;
  background: #fff;
  transition: left 0.4s ease;
  z-index: 1;
  }

  .sidebar.show{
    left: 0px;
 }

  nav ul {
  background: #fff;
  height: 100%;
  list-style: none; /*da formato de lista*/
  }

  nav ul li {
  line-height: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  list-style: none;
  }

  nav ul li a {/*actuando sobre todos los navegadores, ojo!!!*/
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #fff;
  background: #333;
  font-size: 30px;/*tamaño letras menu*/
  text-decoration: none;
  letter-spacing: 1.5px;
  padding: 0 10px 0 5px;
  bottom: 35px;
  }

  .sidebar a:hover {
    color: rgba(255, 239, 3, .9);
  }


/* ID Selectors -------------------- */

.footer {
 color: #fff;
 background-color: #333;
 padding-top: 30px;
 padding-bottom: 30px;
 }

.footer .redes-container {
  padding-bottom: 0;
}

 .footer p {
   text-align: center;
   color: #fff;
   padding-top: 0;
   padding-bottom: 10px;
  }

 .footer a {
   color: yellow;
   padding-left: 25px;
 }

 /* Media Queries -------------------- */

 /*@media all (max-width: 1024px) {
   p {
    width: 90%;
   }
   img {
   width: 80%;
   margin-left: 150px;
   }
 }

 @media (max-width: 768px) {
   .container-news,
   .premieres-group,
   .container-secondary {
     width: 100%;
     padding: 20px;
   }
  h1 {
     font-size: 1rem;
     line-height: 1.1;
   }
   p {
     font-size: .7rem;
   }
}

 /*@media (max-width: 375px) {
   h1 {
     width: 90%;
     font-size: .5rem;
     line-height: 1.1;
   }
   p {
     width: 90%;
     font-size: .3rem;
   }
 }
