
nav {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 height: 50px;
 background-color: #fff;
 /*background: url('../../images/new-logo-zeroocho.jpg') no-repeat left / 15%;*/
}

header nav ul {
  margin-right: 70px;
  visibility: hidden;
}

nav ul li {
  display: inline-block;
  padding: 15px 30px 0 0;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #444;
  font-size: 1em;
}

@media (min-width: 1024px) {
  nav ul {
    visibility: visible;
  }
}
